[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/utemkin/ChibiOS.git
[submodule "firmware/frozen"]
	path = firmware/frozen
	url = https://github.com/utemkin/frozen.git
